<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>Email Spam Detection</h1>
</header>

<main>
    <form>
        <section class="email-input">
        <h2>Enter an Email</h2>
        <textarea id="email-text" name="email-text" placeholder="Paste or type your email here"></textarea>
        <button id="predict-button" href="{{url_for('predict_datapoint')}}" formmethod="post">Predict</button>
    </section>

    <section class="result">
        <h2>Prediction Result</h2>
        <p id="prediction-text">{{results}}</p>
    </section>
    </form>
    
</main>

<footer>
    <p><a href="https://github.com/amulyaprasanth/email_spam_detection_CVIP_Data_Science_Intern.git">GitHub</a></p>
</footer>

</body>
</html>
